{% block 'mainbody' %}
<div class="navbar-fixed" style="position: relative;"> 




  <nav  class="teal">
      <div class="nav-wrapper">
          <a href="/" class="brand-logo" style="padding-left: 10px;">Payment Tracker</a>
          <!-- <a href="/" class="brand-logo"><i style="font-size: 50px;" class="large material-icons">network_check</i></a> -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          
          <ul class="right hide-on-med-and-down">

            {% if user.is_authenticated %}
            <li><a href="/">Dashboard</a></li>
            <li><a href="/logout/">Logout</a></li>
              
            {% else %}
            
            <li><a href="/register/">Register</a></li>
            <li><a href="/login/">Login</a></li>
              
            {% endif %}

              <!-- <li><a href="#">Courses</a></li> -->
               
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="x">CSS3<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="x">Widegts<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="x">Javascript<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="python">Python<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="django">Django<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a href="#">About</a></li> -->
                </ul>
      </div>
    </nav>
</div>


 










<ul style="width: 250px;" class="sidenav" id="mobile-demo">
  {% if user.is_authenticated %}
  <li><a href="/">Dashboard</a></li>
  <li><a href="/logout/">Logout</a></li>
    
  {% else %}
    
  {% endif %}
  
</ul>
 










{% endblock 'mainbody' %}


{% block 'js' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {
      'Sidenav':true,
      
    });
    })
</script>
{% endblock 'js' %}





























