{% block 'mainbody' %}
<div class="navbar-fixed" style="position: relative;"> 




  <nav  class="teal">
      <div class="nav-wrapper">
          <a href="/" class="brand-logo" style="padding-left: 10px;">Payment Tracker</a>
          <!-- <a href="/" class="brand-logo"><i style="font-size: 50px;" class="large material-icons">network_check</i></a> -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          
          <ul class="right hide-on-med-and-down">

            <li><a href="/">Dashboard</a></li>
            <li><a href="/logout/">Logout</a></li>


              <!-- <li><a href="#">Courses</a></li> -->
               
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="x">CSS3<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="x">Widegts<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="x">Javascript<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="python">Python<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a class="dropdown-trigger" href="#!" data-target="django">Django<i class="material-icons right">arrow_drop_down</i></a></li> -->
              <!-- <li><a href="#">About</a></li> -->
                </ul>
      </div>
    </nav>
</div>


<!-- PYTHON -->
<ul  id="python" class="dropdown-content" style="min-width: 200px;">
  <li><a href="">Python How To</a></li>
  <li class="divider"></li>
  <li><a href="">Cyber Stuff</a></li>
</ul>
<!--  DJANGO -->
<ul  id="django" class="dropdown-content" style="min-width: 200px;">
  <li><a href="">Django + Ajax </a></li>
  <li class="divider"></li>
  <li><a href="">Django How To</a></li>
</ul>












<ul style="width: 250px;" class="sidenav" id="mobile-demo">
  <li style="padding: 0px;margin: 0px;"><div class="user-view">
    <div class="background">
      <img style="width: 200px;width: 250px;" src="https://news.efinancialcareers.com/binaries/content/gallery/efinancial-careers/articles/2019/03/programmer.jpg">
    </div>
    <a href="#user"><img class="circle" src="https://icon-library.com/images/icon-programmer/icon-programmer-14.jpg"></a>
    <a href="#name" class="white-text name">Mashood ur Rehman</a>
    <a href="#email" class="white-text email">mashoodurrehmanofficial@gmail.com</a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
 










{% endblock 'mainbody' %}


{% block 'js' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {
      'Sidenav':true,
      
    });
    })
</script>
{% endblock 'js' %}





























