{% extends 'base.html' %}v
{% block 'mainbody' %}


<div style="margin: 1%">
    <div class="z-depth-2" style="border-radius: 10px;;padding: 2%;">
        <!-- Header -->
        <div>
            <div class="left">
                <h5>Driver Listing</h5>
            </div>
            <div class="right">
                <a href="/driver_listing/add_driver" class="btn"> Add new Driver </a>
            </div>

        </div>


        <!-- Body -->
        <table class="striped">
            <thead>
                <tr>
                    <th>Driver Name</th>
                    <th>Taxi Number</th>
                    <th>Balance</th>
                    <th>Owed Amount</th>
                    <th>Rent Deducted Today</th>
                    <th>Paid Today</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for driver in available_drivers %}
                <tr>
                    <td> <a href="/driver_listing/edit_driver/{{driver.id}}">{{driver.name}}</a> </td>
                    <td> {{driver.taxi_number}} </td>
                    <td> {{driver.balance}} </td>
                    <td> {{driver.owed}} </td>
                    <td> 
                        {% if driver.last_rent_deduction_date|date:'m/d/Y' ==  today_date %}
                            <i class="material-icons green-text">check_circle</i>
                        {% else %}
                            <i class="material-icons">check_circle</i>
                        {% endif %}
                        
                    </td>

                    <td>
                        {% if driver.last_paid_date|date:'m/d/Y' ==  today_date %}
                            <i class="material-icons green-text">check_circle</i>
                        {% else %}
                            <i class="material-icons">check_circle</i>
                            {% endif %}
                        </td>
                        
                    <td>
                        <a href="/driver_listing/edit_driver/{{driver.id}}"><i class="material-icons blue-text" style="cursor: pointer;" >edit</i></a>
                        <a href="/driver_listing/delete_driver/{{driver.id}}"> <i id="driver_delete_btn" class="material-icons red-text" style="cursor: pointer;"> delete</i></a>

                    </td>

                </tr>
                {% endfor %}


            </tbody>
        </table>



    </div>
</div>


















{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}