{% extends 'base.html' %}v
{% block 'mainbody' %}



<br>

<div class="container">

  
<div class="container">
    <form action="/login/" method="post" class='z-depth-2'  style="padding: 20px;border-radius: 10px;"> {% csrf_token %}
        <center><h3><b>Login Form</b></h3></center>
        <div class="input-field ">
            <input id="email" name="email" type="text" class="validate" required >
            <label for="email">Email</label>
          </div>
     
          <div class="input-field ">
            <input id="password" type="password" name="password" class="validate" required>
            <label for="password">Password</label>
          </div>
        
   
          <!-- <a href="/account/signup/"> <u>Create a new account</u> </a> <br>
          <a href="/account/send_reset_url/"> <u>Reset password</u> </a>
     
           -->
           <a class=" left" href="/register/"> <u>Create New Account</u> </a> <br>
           <a class=" left" href="/send_password_rest_link/"> <u>Forgot Password</u> </a>
        <button class="btn nextbtn right" >Login</button>

<br><br>

    </form>
</div>
</div>








 


{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}