{% extends 'base.html' %}v
{% block 'mainbody' %}



<br>

<div class="container">

  
<div class="container">
    <form action="/password_reset_form/{{password_reset_code}}" method="post" class='z-depth-2'  style="padding: 20px;border-radius: 10px;"> {% csrf_token %}
        <center><h3><b>Reset Password</b></h3></center>
        <div class="input-field ">
            <input id="password" name="password" type="text" class="validate" required >
            <label for="password">Enter New Password</label>
          </div>
     
       
   
          <!-- <a href="/account/signup/"> <u>Create a new account</u> </a> <br>
          <a href="/account/send_reset_url/"> <u>Reset password</u> </a>
     
           -->
           <a class=" left" href="/register/"> <u>Create New Account</u> </a>
        <button class="btn nextbtn right" >Reset Password</button>

<br><br>

    </form>
</div>
</div>








 


{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}